# Next Auth
# Ganerate secret with: npx auth secret
AUTH_SECRET=
AUTH_TRUST_HOST=true
AUTH_URL=https://localhost

# Drizzle
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=blackjack
POSTGRES_HOST=db
DATABASE_URL=postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST:5432/$POSTGRES_DATABASE
